.loaderBody {
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #2c2f50;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
  }
  
  .pageLoader {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
  }
  
  .pageLoader::before,
  .pageLoader::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .pageLoader::before {
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
  }
  
  .pageLoader::after {
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
  }
  
  .pageLoader span {
    /* border: 1px solid #e74c3c; */
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
  
    animation: a2 2s linear infinite;
  }
  
  @keyframes a1 {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes a2 {
    to {
      transform: rotate(-360deg);
    }
  }
  