.b {
  min-width: 110px;
  min-height: 30px;
  background-image: linear-gradient(to right, #0cbdb4, #74dad3, #308f8f);
  background-size: 200%;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
  border: none;
}

.b:hover {
  background-position: right;
}

.bLogOut {
  min-width: 110px;
  min-height: 30px;
  background-image: linear-gradient(to right, #e3174c, #f55882, #af1e45);
  background-size: 200%;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
  border: none;
}

.bLogOut:hover {
  background-position: right;
}

.sbtn {
  min-width: 60px;
  min-height: 20px;
  background-image: linear-gradient(to right, #10b3aa, #69cec7, #308f8f);
  background-size: 200%;

  color: #fff;
  font-size: 10px;
  line-height: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
}

.sbtn:hover {
  background-position: right;
}
.sbtnx {
  min-width: 60px;
  min-height: 20px;
  background-image: linear-gradient(to right, #e3174c, #f55882, #af1e45);
  background-size: 200%;

  color: #fff;
  font-size: 10px;
  line-height: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
}

.sbtnx:hover {
  background-position: right;
  color: #f9f9f9;
}

.sbtnxy {
  min-width: 60px;
  min-height: 20px;
  background-image: linear-gradient(to right, #e39117, #f5b658, #af7c1e);
  background-size: 200%;

  color: #fff;
  font-size: 10px;
  line-height: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
}

.sbtnxy:hover {
  background-position: right;
  color: #f9f9f9;
}

.sbtn {
  min-width: 60px;
  min-height: 20px;
  background-image: linear-gradient(to right, #0cbdb4, #74dad3, #308f8f);
  background-size: 200%;

  color: #fff;
  font-size: 10px;
  line-height: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
}

.sbtn:hover {
  background-position: right;
  color: #656666;
}
/* .sbtnx {
  min-width: 60px;
  min-height: 20px;
  background-image: linear-gradient(to right, #e3174c, #f55882, #af1e45);
  background-size: 200%;

  color: #fff;
  font-size: 10px;
  line-height: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  text-decoration: none;
}

.sbtnx:hover {
  background-position: right;
  color: #f9f9f9;
} */

.bigB {
  min-width: 250px;
  min-height: 60px;
  background-image: linear-gradient(to right, #0cbdb4, #74dad3, #308f8f);
  background-size: 200%;

  color: #fff;
  font-size: 15px;
  line-height: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}

.bigB:hover {
  background-position: right;
}

.up {
  min-width: 110px;
  min-height: 40px;
  background-image: linear-gradient(to right, #099e96, #68dbce, #308f8f);
  background-size: 200%;
  border-radius: 50px;
  color: #fff;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 8px;
}

.up:hover {
  background-position: right;
}

.im {
  min-width: 110px;
  min-height: 40px;
  background-image: linear-gradient(to right, #dcf8f7, #ecf3f1, #d7eeee);
  background-size: 200%;
  color: #333;
  font-size: 17px;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24); */
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
}

.im:hover {
  background-position: right;
}

.imPlain {
  min-width: 110px;
  min-height: 40px;
  background-image: linear-gradient(to right,  #f3f4f5, #f3f4f5,#8aeee9);
  background-size: 200%;
  color: #333;
  font-size: 17px;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
  
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24); */
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
}

.imPlain:hover {
  background-position: right;
}

.imTwo {
  min-height: 40px;
  background-image: linear-gradient(to right, #ffffff, #f7f5f5, #feffff);
  background-size: 200%;
  color: #333;
  font-size: 17px;

  transition: all 0.5s ease;
  cursor: pointer;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
}

.imTwo:hover {
  background-position: right;
}
.imTwoBtn {
  min-height: 40px;
  background-image: linear-gradient(to right, #099e96, #68dbce, #308f8f);
  background-size: 200%;
  color: #333;
  font-size: 14px;

  transition: all 0.5s ease;
  cursor: pointer;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
}

.imTwoBtn:hover {
  background-position: right;
}
.imTwoWhite {
  min-height: 40px;
  background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  background-size: 200%;
  color: #333;
  font-size: 14px;

  transition: all 0.5s ease;

  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
}

.imTwoWhite:hover {
  background-position: right;
}

.imTwoOffWhite {
  min-height: 40px;
  background-image: linear-gradient(to right, #f8f8f8, #f8f8f8, #f8f8f8);
  background-size: 200%;
  color: #333;
  font-size: 14px;

  transition: all 0.5s ease;

  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
}

.imTwoOffWhite:hover {
  background-position: right;
}



.divBg {
  min-width: 110px;
  min-height: 40px;
  background-image: linear-gradient(to right, #099e96, #68dbce, #308f8f);
  background-size: 200%;
  min-height: 60px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
  margin-bottom: 8px;
  margin-bottom: 20px;
}

.divBg:hover {
  background-position: right;
}

.divBgCard {
  min-width: 110px;
  min-height: 40px;
  background-image: linear-gradient(to right, #ffffff, #f7f5f5, #feffff);
  background-size: 200%;
  border-radius: 5px;
  min-height: 60px;
  color: #fff;
  font-size: 17px;

  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 3px rgba(94, 104, 121, 0.288); */
  margin-bottom: 8px;
  margin-bottom: 20px;
}

.divBgCard:hover {
  background-position: right;
}

.graBtn {
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #099e96;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.graBtn:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(
    45deg,
    #4e4d4d,
    #8a8786,
    #4b4b44,
    #a4a7a3,
    #616362,
    #76777c,
    #817f85,
    #41393f,
    #807373
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}
.graBtn:hover:before {
  opacity: 1;
}
.graBtn:hover:active {
  background: none;
}
.graBtn:hover:active:before {
  filter: blur(2px);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
